<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect wallet test</title>
    <script type="module" src="./ConnectWallet.ts"></script>
    <script type="module" src="../../context/walletContext.ts"></script>
</head>
<body>
    <h1>Mi DApp con Web Component</h1>

    <!-- Botón de conexión a la wallet -->
    <connect-wallet-button></connect-wallet-button>

    <!-- Botón para firmar un mensaje -->
    <button id="signMessageBtn">Firmar Mensaje</button>
    
    <!-- Área para mostrar la firma -->
    <p id="signatureResult"></p>

    <script type="module">
        console.log(window['__WALLET_MANAGER_INSTANCE__'])
        const signMessageBtn = document.getElementById('signMessageBtn')
        const signatureResult = document.getElementById('signatureResult')

        signMessageBtn.addEventListener('click', async () => {
            const message = 'Hola Mundo!'
            const signature = await window['__WALLET_MANAGER_INSTANCE__'].signMessage(message)
            signatureResult.innerText = signature
        })
        

    </script>
</body>
</html>
