@import "tailwindcss";

:root {
  --primary: #d4af37;
  --secondary: #2d2d2d;
  --light: #f8f8f8;
  --dark: #1b1b1b;
  --hover: #c09330;
  --text-hover: #ffffff;
}

[data-theme="bitcoin-light"] {
  --primary: #e07c1a;
  --secondary: #2b261e;
  --light: #e7d4be;
  --dark: #1a1208;
  --hover: #e07c1a;
  --text-hover: #000000;
}

[data-theme="bitcoin-dark"] {
  --primary: #e07c1a;
  --secondary: #f5f5f5;
  --light: #090603;
  --dark: #f5f5f5;
  --hover: #e07c1a;
  --text-hover: #000000;
}

[data-theme="NSID-light"] {
  --primary: rgb(1,66,53);
  --secondary: rgb(3, 28, 23);
  --light: rgb(192, 211, 192);
  --dark: rgb(3, 28, 23);
  --hover: rgb(2, 103, 82);
  --text-hover: rgb(182, 222, 182);
}

[data-theme="NSID-dark"] {
  --primary: rgb(3, 114, 92);
  --secondary: rgb(255,255,255);
  --light: rgb(0, 9, 7);
  --dark: rgb(255,255,255);
  --hover: rgb(2, 103, 82);
  --text-hover: rgb(255,255,255);
}

[data-theme="defi-light"] {
  --primary: #25c552;
  --secondary: #243c5a;
  --light: #e3f6e8;
  --dark: #0d1b2a;
  --hover: #1da947;
  --text-hover: #ffffff;
}

[data-theme="defi-dark"] {
  --primary: #25c552;
  --secondary: #e3f6e8;
  --light: #0d1b2a;
  --dark: #e3f6e8;
  --hover: #1da947;
  --text-hover: #000000;
}

[data-theme="elegant-light"] {
  --primary: #bfa57a;
  --secondary: #444444;
  --light: #f7f7f7;
  --dark: #1f1f1f;
  --hover: #a58c65;
  --text-hover: #ffffff;
}

[data-theme="elegant-dark"] {
  --primary: #bfa57a;
  --secondary: #f7f7f7;
  --light: #1f1f1f;
  --dark: #f7f7f7;
  --hover: #a58c65;
  --text-hover: #000000;
}

/* NUEVOS TEMAS */

[data-theme="monochrome-light"] {
  --primary: #333333;
  --secondary: #666666;
  --light: #f5f5f5;
  --dark: #1a1a1a;
  --hover: #4d4d4d;
  --text-hover: #ffffff;
}

[data-theme="monochrome-dark"] {
  --primary: #cccccc;
  --secondary: #999999;
  --light: #1a1a1a;
  --dark: #f5f5f5;
  --hover: #b3b3b3;
  --text-hover: #000000;
}


[data-theme="nordic-light"] {
  --primary: #607d8b;
  --secondary: #78909c;
  --light: #eceff1;
  --dark: #263238;
  --hover: #546e7a;
  --text-hover: #ffffff;
}

[data-theme="nordic-dark"] {
  --primary: #90a4ae;
  --secondary: #b0bec5;
  --light: #263238;
  --dark: #eceff1;
  --hover: #78909c;
  --text-hover: #000000;
}

.pixelated {
  image-rendering: pixelated;
}


/* Aplicar Tailwind con Variables */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.border-secondary {
  border-color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.text-light {
  color: var(--light);
}

.border-light {
  border-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}

.border-dark {
  border-color: var(--dark);
}

.bg-hover {
  background-color: var(--hover);
}

.text-hover {
  color: var(--text-hover);
}

.border-hover {
  border-color: var(--hover);
}

.hover\:bg-primary:hover {
  background-color: var(--primary) !important;
}

.hover\:text-primary:hover {
  color: var(--primary) !important;
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary) !important;
}

.hover\:text-secondary:hover {
  color: var(--secondary) !important;
}

.hover\:bg-light:hover {
  background-color: var(--light) !important;
}

.hover\:text-light:hover {
  color: var(--light) !important;
}

.hover\:bg-dark:hover {
  background-color: var(--dark) !important;
}

.hover\:text-dark:hover {
  color: var(--dark) !important;
}

.hover\:border-primary:hover {
  border-color: var(--primary) !important;
}

.hover\:border-secondary:hover {
  border-color: var(--secondary) !important;
}

.hover\:border-light:hover {
  border-color: var(--light) !important;
}

.hover\:border-dark:hover {
  border-color: var(--dark) !important;
}

.via-primary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--primary), var(--light)) !important; 
}

.via-secondary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--secondary), var(--light)) !important;
}

.via-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}


.via-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}

.from-primary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--primary), var(--light)) !important;
}

.from-secondary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--secondary), var(--light)) !important;
}

.from-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}

.from-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}

.to-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}

.to-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}