@import "tailwindcss";

:root {
  --primary: rgb(212, 175, 55);
  --secondary: rgb(45, 45, 45);
  --light: rgb(248, 248, 248);
  --dark: rgb(27, 27, 27);
  --hover: rgb(192, 147, 48);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="bitcoin-light"] {
  --primary: rgb(224, 124, 26);
  --secondary: rgb(43, 38, 30);
  --light: rgb(231, 212, 190);
  --dark: rgb(26, 18, 8);
  --hover: rgb(224, 124, 26);
  --text-hover: rgb(0, 0, 0);
}

[data-theme="bitcoin-dark"] {
  --primary: rgb(224, 124, 26);
  --secondary: rgb(245, 245, 245);
  --light: rgb(9, 6, 3);
  --dark: rgb(245, 245, 245);
  --hover: rgb(224, 124, 26);
  --text-hover: rgb(0, 0, 0);
}

[data-theme="NSID-light"] {
  --primary: rgb(1, 66, 53);
  --secondary: rgb(3, 28, 23);
  --light: rgb(192, 211, 192);
  --dark: rgb(3, 28, 23);
  --hover: rgb(2, 103, 82);
  --text-hover: rgb(182, 222, 182);
}

[data-theme="NSID-dark"] {
  --primary: rgb(3, 114, 92);
  --secondary: rgb(255, 255, 255);
  --light: rgb(0, 9, 7);
  --dark: rgb(255, 255, 255);
  --hover: rgb(2, 103, 82);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="defi-light"] {
  --primary: rgb(37, 197, 82);
  --secondary: rgb(36, 60, 90);
  --light: rgb(227, 246, 232);
  --dark: rgb(13, 27, 42);
  --hover: rgb(29, 169, 71);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="defi-dark"] {
  --primary: rgb(37, 197, 82);
  --secondary: rgb(227, 246, 232);
  --light: rgb(13, 27, 42);
  --dark: rgb(227, 246, 232);
  --hover: rgb(29, 169, 71);
  --text-hover: rgb(0, 0, 0);
}

[data-theme="elegant-light"] {
  --primary: rgb(191, 165, 122);
  --secondary: rgb(68, 68, 68);
  --light: rgb(247, 247, 247);
  --dark: rgb(31, 31, 31);
  --hover: rgb(165, 140, 101);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="elegant-dark"] {
  --primary: rgb(191, 165, 122);
  --secondary: rgb(247, 247, 247);
  --light: rgb(31, 31, 31);
  --dark: rgb(247, 247, 247);
  --hover: rgb(165, 140, 101);
  --text-hover: rgb(0, 0, 0);
}

/* NUEVOS TEMAS */

[data-theme="monochrome-light"] {
  --primary: rgb(51, 51, 51);
  --secondary: rgb(102, 102, 102);
  --light: rgb(245, 245, 245);
  --dark: rgb(26, 26, 26);
  --hover: rgb(77, 77, 77);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="monochrome-dark"] {
  --primary: rgb(204, 204, 204);
  --secondary: rgb(153, 153, 153);
  --light: rgb(26, 26, 26);
  --dark: rgb(245, 245, 245);
  --hover: rgb(179, 179, 179);
  --text-hover: rgb(0, 0, 0);
}


[data-theme="nordic-light"] {
  --primary: rgb(96, 125, 139);
  --secondary: rgb(120, 144, 156);
  --light: rgb(236, 239, 241);
  --dark: rgb(38, 50, 56);
  --hover: rgb(84, 110, 122);
  --text-hover: rgb(255, 255, 255);
}

[data-theme="nordic-dark"] {
  --primary: rgb(144, 164, 174);
  --secondary: rgb(176, 190, 197);
  --light: rgb(38, 50, 56);
  --dark: rgb(236, 239, 241);
  --hover: rgb(120, 144, 156);
  --text-hover: rgb(0, 0, 0);
}

.pixelated {
  image-rendering: pixelated;
}


/* Aplicar Tailwind con Variables */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.border-secondary {
  border-color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.text-light {
  color: var(--light);
}

.border-light {
  border-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}

.border-dark {
  border-color: var(--dark);
}

.bg-hover {
  background-color: var(--hover);
}

.text-hover {
  color: var(--text-hover);
}

.border-hover {
  border-color: var(--hover);
}

.hover\:bg-primary:hover {
  background-color: var(--primary) !important;
}

.hover\:text-primary:hover {
  color: var(--primary) !important;
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary) !important;
}

.hover\:text-secondary:hover {
  color: var(--secondary) !important;
}

.hover\:bg-light:hover {
  background-color: var(--light) !important;
}

.hover\:text-light:hover {
  color: var(--light) !important;
}

.hover\:bg-dark:hover {
  background-color: var(--dark) !important;
}

.hover\:text-dark:hover {
  color: var(--dark) !important;
}

.hover\:border-primary:hover {
  border-color: var(--primary) !important;
}

.hover\:border-secondary:hover {
  border-color: var(--secondary) !important;
}

.hover\:border-light:hover {
  border-color: var(--light) !important;
}

.hover\:border-dark:hover {
  border-color: var(--dark) !important;
}

.via-primary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--primary), var(--light)) !important; 
}

.via-secondary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--secondary), var(--light)) !important;
}

.via-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}


.via-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}

.from-primary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--primary), var(--light)) !important;
}

.from-secondary {
  background-image: linear-gradient(to bottom right, var(--dark), var(--secondary), var(--light)) !important;
}

.from-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}

.from-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}

.to-light {
  background-image: linear-gradient(to bottom right, var(--dark), var(--light), var(--light)) !important;
}

.to-dark {
  background-image: linear-gradient(to bottom right, var(--dark), var(--dark), var(--light)) !important;
}

.shadow-primary {
  box-shadow: 0 0 10px var(--primary) !important;
}

.shadow-secondary {
  box-shadow: 0 0 10px var(--secondary) !important;
}

.shadow-light {
  box-shadow: 0 0 10px var(--light) !important;
}

.shadow-dark {
  box-shadow: 0 0 10px var(--dark) !important;
}

